       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #000;
            color: #fff;
            font-family: 'Arial', sans-serif;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding-top: 50px;
        }

        .upload-heading {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .tagline {
            font-size: 1rem;
            color:gainsboro;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-label {
            font-size: 1.2rem;
            color: #fff;
        }

        .custom-file-upload {
            background-color: #ed1d24;
            color: #fff;
            border-color: #ed1d24;
            border-radius: 30px;
            cursor: pointer;
        }

        .custom-file-upload:hover {
            background-color: #ff4d53;
            border-color: #ff4d53;
        }

        .custom-submit-btn {
            background-color: #ed1d24;
            border-color: #ed1d24;
            border-radius: 30px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .custom-submit-btn:hover {
            background-color: #ff4d53;
            border-color: #ff4d53;
        }
