body {
    background-color: black;
    color: white; 
}

.btn-success {
    background-color: rgb(240, 19, 30); 
    border-color: rgb(240, 19, 30);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: white; 
    border-color: rgba(255, 255, 255, 0.1); 
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white for focused state */
    color: white; /* Text color for focused state */
    border-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white border for focused state */
}

.form-label{
    color: white;
}