<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Marvelous Heroes</title>
</head>
<body>
    {% include 'navbar.html' %}

    <main>
        <div class="container text-center">
            <h1 class="find-character">Discover Your Marvelous Heroes</h1>
            <p class="tagline">Unleash the power within...</p>
            <a href="/upload" class="custom-btn">Get Started</a>
        </div>
        <video autoplay loop muted>
            <source src="/static/images/MARVEL STUDIOS INTRO .mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </main>
</body>
</html>
